body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e5dc8c;
    color: black;
    text-align: center;
    padding: 40px;
}

.row {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    width: 90%;
}

.btn {
    background-color: #d47526;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    min-width: 100px;
}




